<!DOCTYPE html>
<html>
<head>
        <title>Project Woori</title>
        <link href="/static/css/modern.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
	<div class="page">
		<div class="nav-bar bg-color-darken">
			<div class="nav-bar-inner padding10">
				<span class="element">Project Woori</span>
				<span class="divider"></span>
			</div>
		</div>
		<span class="status">Status: Dev</span>
	</div>
  <div id="main_container">
        <table class="striped hovered" id="song_list">
        <thead>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
        </thead>
        <tbody>
                <tr>
                <td>Test Title </td>
                <td>Various Artist</td>
                <td>Unknown Album</td>
                </tr>
        </tbody>
        </table>
  </div>
	<div class="app-bar padding10">
		<div id="current-song">
			<span id="artist"></span>
			<span> - </span>
			<span id="title"></span>
			<div class="slider" id="playbar" data-role="slider">
			</div>
		</div>
	</div>
</body>
<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/metro-ui/slider.js"></script>
<script src="/static/js/main.js"></script>
</html>
