.page {
	margin: auto;
}

.status {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
	margin: 5px;
	color: #5CFF69;
}

#current-song {
	width: 300px;
	margin: auto;
	color: white;
}